<!--<p>
  users works!
</p>-->

<div>
  <h1>Users list:</h1>
  <!-- The class is for the style-->
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="list-group users">
        <!-- We need this to show users from users.component.ts-->
        <!-- The class is for the style-->
        <!-- The class active is for marking current user-->
        <!-- The click is for saving current user-->
        <li class="list-group-item" *ngFor = "let user of users" [class.active]="currentUser == user"
                                    (click)="select(user)">
            <!--Name: {{user.name}}, Email {{user.email}} moved when added chiled user component-->   
            <bit-user [user] = user (deleteEvent) = "deleteUser($event)"
                                    (editEvent) = "editUser($event)"></bit-user>      
        </li>
  </ul>
</div>
