<h1>
  {{title}}
</h1>
<!--If we have Router we do not need this
<bit-users></bit-users>
<bit-posts></bit-posts>-->

<!--Router-->
<nav>
  <a routerLink = "/products">Products | </a>
  <a routerLink = "/users">Users | </a>
  <a routerLink = "/posts">Posts</a>
</nav>
<router-outlet></router-outlet>
