<!--<p>
  products works!
</p>-->

<div>
  <!--<jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>-->
  <h3>Products list:</h3>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="list-group products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
          (click)="select(product)" >
            <bit-product [product] = "product" (deleteEvent) = "deleteProduct($event)"
                                    (editEvent) = "editProduct($event)"></bit-product> 
        </li>
  </ul>

  <h3>Products list Qustion 4:</h3>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="list-group products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
          (click)="select(product)" >
            <bit-product [product] = "product" (deleteEvent) = "deleteProduct($event)"
                                    (editEvent) = "editProduct($event)"></bit-product> 
        <ul>
          <li *ngFor = "let cname of product.productCat">
            {{(cname | async)?.cname}}
          </li>
        </ul>                                     
        </li>
  </ul>
</div>