<!--<p>
  product works!
</p>-->

<span *ngIf = "!isEdit" >Name: {{product.pname}} <br>
                         Cost: {{product.cost}} <br>
                         Category: {{product.category}} <br></span>
<!--<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "user.name"> Email: <input type="text" [(ngModel)] = "user.email"></span>-->
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> 
<!--<button (click) = "toggleEdit()" >{{editButtonText}}</button> -->
<!--<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> -->
