<!--<p>
  posts works!
</p>-->

<div>
  <h1>Posts Table:</h1>
  <!-- The class is for the style-->
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="table-group posts" >
        <!-- We need this to show posts from posts.component.ts-->
        <!-- The class is for the style-->
        <!-- The class active is for marking current post-->
        <!-- The click is for saving current post-->
        
        <table class="table-group-item">
            <!--<tr>
              <th>Title</th>
              <th>Body</th>
            </tr>-->
            <tr *ngFor = "let post of posts" [class.active]="currentPost == post"
                                    (click)="select(post)">
              <!--<td>{{post.title}}</td>
              <td>{{post.body}}</td>-->
              <bit-post [post] = post></bit-post>
            </tr>
            
        </table>
  </ul>
</div>

